/*CSS-RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*****SLUT PÅ RESET********/

/*GENERELLA STILREGLER*/

body{
	
	text-align: center;
	
	/*background-color: #f1f1f1;*/
}

/*SIDA 1*/	
#home {
	width: 360px;
	height: 660px;
	margin: 0 auto;
	display: block;
	background-image: url("/background.png");
}

#wrapper {
	
	width: 360px;
	display: block;
	margin: 0 auto;
	height: 500px;
	background-image: url("/background.png");
	
}

#wrapperlow{
	
	width: 360px;
	display: block;
	margin: 0 auto;
	height: 160px;
	
}
#button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
  }  

#button1 {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    margin-top: 80px;
    padding-right: 50px;
    
}


/*SIDA 2*/	
#wrapper2 {
	
	width: 360px;
	display: block;
	margin: 0 auto;
	height: 660px;
	background-color: ;

	
}

#all {
	width: 360px;
	height: 500px;
	background-color: blue;
	
}

#allmoods{
	width: 360px;
	height: 500px;
	background-color: blue;

}

#firstcol{
	height: 500px;
	width: 120px;
	background-color: pink;
	float: left;

}
#secondcol{
	height: 500px;
	width: 120px;
	background-color: purple;
	float: left;

}

#thirdcol{
	height: 500px;
	width: 120px;
	background-color: magenta;
	float: left;

}

#forward{
	width: 180px;
	float: left;
	margin-top: 50px;
}

#backward{
	width: 180px;
	float: right;
	margin-top: 50px;
}
#button2 {
	
	width: 80px;
	height: 80px;
	margin: 0 auto;
	display: inline-block;
	
}

#pics1 {
	
	width: 100px;
	height: 360px;
	background-color: yellow;
	display: block;
	float: left;
	
}

#pics2 {
	
	width: 100px;
	height: 360px;
	background-color: yellow;
	display: block;
	
	
}

#pics3 {
	
	width: 100px;
	height: 360px;
	background-color: yellow;
	display: block;
	float: right;
	
	
}

/*SIDA 3*/

#infotext{
	width: 360px;
	height: 220px;
	margin-top: 100px;
	background-color: pink;

}
